.box {
  width: 400px;
  height: 200px;
  background-color: rgb(37, 37, 37);
  display: inline-flex;  /* Acts like inline-block but allows flexbox */
  justify-content: center;
  align-items: center;
  color: white;             /* Makes text visible */
  font-size: 20px;          /* Adjust text size */
  margin-right: 20px;
  border-radius: 20px;
}